/* Reset styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Container styles */
.containerr {
    display: flex;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    display: block;
    transition: all 0.3s ease;
}

.sidebar ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

.sidebar .logout {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin-top: 539px;
    cursor: pointer;
}

.sidebar .logout:hover {
    text-decoration: underline;
}

/* Content styles */
.content {
    padding: 20px;
    background-color: #f9f9f9;
    flex: 1;
}

.content h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}
.user-profile {
    background-color: #fff;
    border: 2px solid #007bff;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.user-profile h3 {
    font-size: 36px; /* Increased font size */
    color: #007bff;
    margin-bottom: 20px; /* Increased margin */
}

.user-profile h2 {
    font-size: 24px; /* Increased font size */
    color: #333;
    margin-bottom: 30px; /* Increased margin */
}
